* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-span {
    font-weight: 700;
    color: #1339a0;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    min-height: 15vh;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 10;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;
}

h1:hover {
    color: #1339a0;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}


header nav ul li {
    font-weight: 600;
    transition: 1s;
}

header nav ul li:hover{
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #1339a0;
}

/* Sección de acerca de mi */
.acerca {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.card-acerca {
    width: 75%;
    height: 350px;
    border: 4px solid #000;
    border-radius: 15px;
    display: flex;
    margin: auto;
}

.card-acerca-img {
    width: auto;
    height: 100%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.card-acerca-text {
    margin: 16px 24px;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Pasatiempos */
.pasatiempos {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carrusel */
.btn-hover-scale:hover {
    transition: .5s;
    scale: 110%;
    border: 2px solid #fff;
}

.main_container {
    width: 100%;
    height: 100vh;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    background-color: #ff0000;
    min-width: 200px;
}

.d-block {
    min-width: 200px;
    max-height: 400px;
    object-fit: cover;
}

.d-block {
    min-width: 200px;
    max-height: 400px;
}

.carousel-control-prev,
.button-carrusel {
    transition: 2s;
}
.carousel-control-next:hover {
    background-color: #00000056;
}
.carousel-control-prev:hover {
    background-color: #00000056;
}

/* Seccion de contacto */
.contacto {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #dfdfdf;
    padding: 2rem 1rem;
    border-radius: 15px;
    border: 1px solid #000;
}

.form-group {
    margin: 15px 0;
}

/* Redes sociales */
.btn {
    transition: 1s;
}

.btn:hover {
    transform: scale(1.1);
}

.instagram:hover {
    color: #d465a6;
}

.tiktok:hover {
    color: #000;
}

@media (max-width:1000px) {
    .card-acerca {
        flex-direction: column;
        min-height: 350px;
        height: auto;
    }

    .card-acerca-img {
        max-height: 400px;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    header {
        flex-direction: column;
    }

    h1 {
        padding: 16px 0;
    }

    header nav ul {
        flex-direction: column;
        gap: 16px;
    }

    header nav ul li {
        flex-wrap: wrap;
    }
}